.axure {
  width: 100%;
  background-image: url("../images/background_axure.png");
  background-size: cover;
  background-position: center;
}
.axure-title {
  margin: 0px 15px 0px 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  padding-top: 60px;
  color: #fff;
  text-transform: uppercase;
}
.axure-title::after {
  content: "";
  width: 64px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 25px auto;
}
.axure-description {
  margin: 30px 15px 0px 15px;
}
.axure-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.axure-button {
  margin:auto;
  margin-top: 57px;
  max-width: 100px;
 text-align: center;
 transition: 0.3s ease;
}
.axure-button:hover {
  transform: scale(1.2, 1.2);
}
.axure-download {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  margin: auto;
  background: none;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 0 26px 0 26px;
  outline: none;
}
@media (max-width: 871px) {
  .axure-container {
    max-width: 783px !important;
    margin: auto !important;
  }
}
@media (max-width: 780px) {
  .axure-container {
    max-width: 702px !important;
    margin: auto !important;
  }
}