.customers {
  width: 100%;
  padding-bottom: 100px;
  background-color: #fff;
}
.customers-title {
  text-align: center;
  padding-top: 100px;
  color: #212121;
  text-transform: uppercase;
}
.customers-title::after {
  content: "";
  width: 64px;
  height: 1px;
  background-color: #c78851;
  display: block;
  margin: 25px auto;
}
.customers-description {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #868788;
  margin-top: 30px;
}
.customers-row {
  margin: 50px -15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.customers-item {
  max-width: 298px;
  margin: 0 15px;
}
.text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #868788;
  background-color: #e2e2e2;
  border-radius: 7px;
  padding: 9px 22px 6px 22px;
  position: relative;
}
.text::after {
  content: "";
  width: 0; 
  height: 0; 
  border-left: 16px solid transparent; 
  border-right: 16px solid transparent; 
  border-bottom: 12px solid #e2e2e2;
  transform: rotate(0.5turn);
  position: absolute;
  bottom: -11px;
  left: 30px;
}
.customers-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  max-height: 70px;
  max-width: 70px;
}

.info {
  margin: auto;
  display: flex; 
  align-items: flex-end;
  justify-content: space-around;
}
.customer-card {
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
}
.name {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  color: #333333;
  margin-bottom: 15px;
  padding-top: 15px;
}
.status {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: flex-end;
  color: #86878B;
}

