.footer-container {
  margin: auto;
  max-width: 1170px;
}
.footer-list {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
}
.footer-item {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease;
}
.footer-item:hover {
  color: #86878B;
  border: none;
}
i {
  margin: 0 15px 0 15px;
}
.footer-icon:hover {
  transform: scale(2, 2);
}
.footer-icon {
  transition: 0.3s ease;
}
.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}