 .header-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
 }
 .header-logo {
   display: flex;
   flex-direction: row;
 }
 .logo-header:hover {
   border: none;
 }
.logo-axit {
  text-align: center;
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.logo-it {
  text-align: center;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #EC7979;
  text-transform: uppercase;
}
.navigation {
 text-align: right;
}
a {
  font-family: 'Open Sans', sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.navigation-list {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.nav-list {
  margin: 0 24px 0 24px;
}
a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
#menu__toggle {
  display: none;
  opacity: 0;
}

.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__btn {
  display: none;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 15px 0 35px 0;
  list-style: none;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .3);
}

.menu__item {
  display: block;
  text-align: center;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.menu__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
@media (max-width: 871px) {
  .header-container {
    max-width: 783px !important;
    margin: auto !important;
  }
}
@media (max-width: 780px) {
  .header-container {
    max-width: 702px !important;
    margin: auto !important;
  }
  .menu__btn {
    display: block;
  }
  .navigation {
    display: none;
  }
}
@media (max-width: 616px) {
  .header-container {
    max-width: 555px !important;
    margin: auto !important;
  }
  .nav-list {
    margin: 0 15px 0 15px;
  }
}
@media (max-width: 524px) {
  .header-container {
    max-width: 471px !important;
    margin: auto !important;
  }
  .nav-item {
    font-size: 12px;
    line-height: 16px;
  }
  .logo-axit {
    font-size: 25px;
    line-height: 40px;
  }
  .logo-it {
    font-size: 25px;
    line-height: 40px;
  }
}
@media (max-width: 460px) {
  .header-container {
    max-width: 412px !important;
    margin: auto !important;
  }
  .nav-item {
    font-size: 10px;
    line-height: 14px;
  }
  .logo-axit {
    font-size: 20px;
    line-height: 30px;
  }
  .logo-it {
    font-size: 20px;
    line-height: 30px;
  }
  .nav-list {
    margin: 0 7px 0 7px;
  }
  .navigation {
    margin-right: 7px;
  }
}
@media (max-width: 337px) {
  .header-container {
    max-width: 303px !important;
    margin: auto !important;
  }
  .logo-axit {
    font-size: 15px;
    line-height: 20px;
  }
  .logo-it {
    font-size: 15px;
    line-height: 20px;
  }
  .nav-item {
    font-size: 8px;
    line-height: 12px;
  }
  .nav-list {
    margin: 0 5px 0 5px;
  }
  .navigation {
    margin-right: 7px;
  }
}