.pricing {
  width: 100%;
  background-color: #f5f5f5;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 100px;
}
.pricing-container {
  max-width: 1170px;
}
.pricing-title {
  margin: 0px 15px;
  text-align: center;
  color: #212121;
  text-transform: uppercase;
}
.pricing-title::after {
  content: "";
  width: 64px;
  height: 1px;
  background-color: #c78851;
  display: block;
  margin: 25px auto;
}
.pricing-description {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #868788;
  margin: 30px 15px 0px 15px;
}
.pricing-row {
  /* margin: 0 -15px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pricing-item {
  display: inline-block;
  width: 340px;
  margin-top: 67px;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: column;
  transition: 0.3s ease;
}
.pricing-item:hover {
  transform: translate(0px, -15px);
}
.list-type {
 background-color: #333333;
 border: 1px solid #ffffff;
 transition: 0.3s ease;
}
.list-type:hover {
  background-color: #D98943;
}
h5 {
 font-family: 'Open Sans', sans-serif; 
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 text-align: center;
 line-height: 50px;
 color: #ffffff;
}
.list-price {
  background-color: #333;
  border: 1px solid #fff;
  transition: 0.3s ease;
}
.list-price:hover {
  background-color: #D98943;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}
.list-free {
  background-color: #333333;
  border: 1px solid #fff;
  transition: 0.1s ease;
}
.list-free:hover {
  background-color: #D98943;
}

h6 {
  font-family: 'Open Sans', sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.list {
  font-weight: 400;
  background-color: #ffffff;
  color: #86878B;
  border: 2px solid #f5f5f5;
}
.item-list {
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
}
@media (max-width: 1110px) {
  .pricing-container {
    max-width: 999px !important;
    margin: auto !important;
  }
  .pricing-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 871px) {
  .pricing {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pricing-container {
    max-width: 783px !important;
    margin: auto !important;
  }
}
@media (max-width: 481px) {
  .pricing-container {
    max-width: 433px !important;
    margin: auto !important;
  }
}