.social-media {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #F8EFEF;
}
.social-media-container {
  max-width: 1170;
  margin: auto;
}
.media-item {
  display: inline-block;
  font-size: 40px;
  color: #86878B;
}
.socialm-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #333333;
  padding-top: 10px;
}
.social-description {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  width: 350px;
  text-align: left;
  color: #86878B;
  margin-top: 15px;
}
.media-list {
  float: right;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  margin-right: 15px;
  margin-top: -5px;
}
.media-item:hover {
  transform: scale(1.3, 1.3);
  transition: 0.3s ease;
}